
.bg-blue {
    background-color: #417FFA;
    /* -webkit-border-radius: 0px 0px 45px 0px;
    -moz-border-radius: 0px 0px 45px 0px;
    border-radius: 0px 0px 45px 0px; */
}

.bg-blue2 {
    background-color: #3A72E0;
}
hr.new1 {
    border-top: 1px solid rgb(255, 255, 255);
    /* padding: 5px; */
}

.font-montez {
    font-family: 'Montez', cursive;
}
.font-s {
    font-family: 'Oooh Baby', cursive;
}

.font-baby {
    font-family: 'Just Me Again Down Here', cursive;
}




.bg-img {
    background-image: url("../../../assets/bg/bgbg.jpg");
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    margin: auto;
    text-align: center;
    padding: 150px 0;
}