<div class="container-fluid text-center m-0 bg-dark" *ngIf="!enter">
    <div class="box bg-img text-white m0 p0" style="height: 800px;">
        <div class="center">
            <h2 class="font-baby pt-5" style="font-size: 60px;">Tasyakuran & Aqiqah</h2>
            <h1 class="font-montez mt-5" style="font-size: 45;">Muhammad Abercio</h1>
            <p class="">Minggu, 15 Mei 2022</p>
            <p>--------------------------------------------------</p>
            <button type="button" (click)="open()" class="btn btn-light mt-5">Buka Undangan</button>
        </div>
    </div>
</div>
<div class="container" *ngIf="enter">
    <div class="row">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#417FFA"
                d="M0,256L18.5,224C36.9,192,74,128,111,85.3C147.7,43,185,21,222,48C258.5,75,295,149,332,170.7C369.2,192,406,160,443,160C480,160,517,192,554,208C590.8,224,628,224,665,213.3C701.5,203,738,181,775,186.7C812.3,192,849,224,886,202.7C923.1,181,960,107,997,85.3C1033.8,64,1071,96,1108,96C1144.6,96,1182,64,1218,80C1255.4,96,1292,160,1329,160C1366.2,160,1403,96,1422,64L1440,32L1440,320L1421.5,320C1403.1,320,1366,320,1329,320C1292.3,320,1255,320,1218,320C1181.5,320,1145,320,1108,320C1070.8,320,1034,320,997,320C960,320,923,320,886,320C849.2,320,812,320,775,320C738.5,320,702,320,665,320C627.7,320,591,320,554,320C516.9,320,480,320,443,320C406.2,320,369,320,332,320C295.4,320,258,320,222,320C184.6,320,148,320,111,320C73.8,320,37,320,18,320L0,320Z">
            </path>
        </svg>
    </div>
    <div class="row bg-blue">
        <div class="col align-self-center">
            <img src="../../assets/photo/abercio_8.png" class="img-thumbnail rounded-circle mx-auto d-block w-100"
                alt="Abercio">
        </div>
        <div class="col text-white align-self-center ">
            <h1 class="font-montez" style="font-size: 60px;">Muhammad Abercio</h1>
            <hr class="new1" />
            <p>Jakarta, 5 November 2021</p>
        </div>
    </div>
    <div class="row">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#417FFA" fill-opacity="1"
                d="M0,192L40,202.7C80,213,160,235,240,208C320,181,400,107,480,96C560,85,640,139,720,138.7C800,139,880,85,960,69.3C1040,53,1120,75,1200,106.7C1280,139,1360,181,1400,202.7L1440,224L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
            </path>
        </svg>
    </div>
    <!-- end of header  -->
    <div class="box "> Assalamu'alaikum wr. wb.
        <hr />
        <div class="box">
            <p> Halo Om dan Tante semua. Perkenalkan namaku Muhammad Abercio.</p>
            <p>Aku anak Pertama dari Papa Nanda dan Mama Nuri.</p>
            <p class="mb-0">Om dan Tante semua bisa panggil aku <strong>Cio</strong>. Aku mau di akikah nih, tepatnya
                pada : </p>
        </div>
        <div class="row mb-0">
            <div class="col-6">
                <p class="text-right mb-0">Hari : </p>
                <p class="text-right mb-0">Tanggal : </p>
                <p class="text-right mb-0">Pukul : </p>
                <p class="text-right mb-0">Lokasi : </p>
            </div>
            <div class="col-6">
                <p class="text-left mb-0"> Minggu</p>
                <p class="text-left mb-0"> 15 Mei 2022</p>
                <p class="text-left mb-0"> 10.00 WIB</p>
                <p class="text-left mb-0"> Rumah Nenek Cio</p>
            </div>
        </div>
        <div class="box">
            <p class="mb-0">Kalau om dan tante nggak sibuk, silakan dateng ya Om dan Tante. </p>
            <p class="mb-0">Kehadiran Om dan tante bakal <b> Cio</b> tunggu loh~ </p>
        </div>
        <hr />
    </div>
    <!-- end of invitation -->
    <div class="row">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#135eb4"
                d="M0,256L18.5,224C36.9,192,74,128,111,85.3C147.7,43,185,21,222,48C258.5,75,295,149,332,170.7C369.2,192,406,160,443,160C480,160,517,192,554,208C590.8,224,628,224,665,213.3C701.5,203,738,181,775,186.7C812.3,192,849,224,886,202.7C923.1,181,960,107,997,85.3C1033.8,64,1071,96,1108,96C1144.6,96,1182,64,1218,80C1255.4,96,1292,160,1329,160C1366.2,160,1403,96,1422,64L1440,32L1440,320L1421.5,320C1403.1,320,1366,320,1329,320C1292.3,320,1255,320,1218,320C1181.5,320,1145,320,1108,320C1070.8,320,1034,320,997,320C960,320,923,320,886,320C849.2,320,812,320,775,320C738.5,320,702,320,665,320C627.7,320,591,320,554,320C516.9,320,480,320,443,320C406.2,320,369,320,332,320C295.4,320,258,320,222,320C184.6,320,148,320,111,320C73.8,320,37,320,18,320L0,320Z">
            </path>
        </svg>
    </div>
    <div class="box">
        <hr /> Lokasi <div class="embed-responsive embed-responsive-16by9">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.4733368119314!2d105.25484711509533!3d-5.34448024441166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e40c5a67684f38f%3A0xcd819d3515f80c63!2sRumah%20Nenek%20Cio!5e0!3m2!1sid!2sus!4v1651947385624!5m2!1sid!2sus"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <hr />
        <button class="btn btn-light" href="https://goo.gl/maps/zQQhNbU9pFrZcRYq7" role="button">Menuju Lokasi</button>
    </div>
    <div class="row bg-blue2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#135eb4" fill-opacity="1"
                d="M0,192L40,202.7C80,213,160,235,240,208C320,181,400,107,480,96C560,85,640,139,720,138.7C800,139,880,85,960,69.3C1040,53,1120,75,1200,106.7C1280,139,1360,181,1400,202.7L1440,224L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
            </path>
        </svg>
    </div>
    <!-- end of location -->
    <div class="row bg-blue2 p-1 font-baby ">
        <div class="col align-self-center">
            <img src="../../assets/photo/top.png" class="img-thumbnail  mx-auto d-block w-100" alt="Abercio">
            <hr class="new1" />
        </div>
        <div class="row">
            <div class="col align-self-center ">
                <img src="../../assets/photo/cio_1.jpeg" class="img-thumbnail rounded-circle mx-auto d-block "
                    alt="Dragon Ball">
            </div>
            <div class="col align-self-center text-white">
                <p>Ini Cio baru lahir om dan tante, sebelum Cio di isolasi. Karena waktu baru lahir ada sedikit masalah,
                    jadi malemnya Cio ngga tidur sama mama~</p>
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center text-white text-right">
                <p>Ini Cio umur berapa hari Om dan Tante~</p>
            </div>
            <div class="col align-self-center ">
                <img src="../../assets/photo/cio_2.png" class="img-thumbnail rounded-circle mx-auto d-block "
                    alt="Dragon Ball">
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center ">
                <img src="../../assets/photo/cio_3.png" class="img-thumbnail rounded-circle mx-auto d-block "
                    alt="Dragon Ball">
            </div>
            <div class="col align-self-center text-white">
                <p>Papanya Cio doyan nonton Kartun, ini Cio Lagi Cosplay jadi Krilin-nya Dragon Ball sama papa~</p>
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center text-white text-right">
                <p>Cio udah jadi Pilot, mau Cio bawa terbang kemana nih ? </p>
            </div>
            <div class="col align-self-center ">
                <img src="../../assets/photo/cio_4.png" class="img-thumbnail rounded-circle mx-auto d-block " alt="Dragon Ball">
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center ">
                <img src="../../assets/photo/cio_5.jpeg" class="img-thumbnail rounded-circle mx-auto d-block " alt="Dragon Ball">
            </div>
            <div class="col align-self-center text-white">
                <p>Pertama kali keluar rumah sama papa, mirip banget ya~</p>
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center text-white text-right">
                <p>Ini mamanya cio~
                    <br/>
                Cantik gak ? cantik gak ? cantiklah masa enggak~ </p>
            </div>
            <div class="col align-self-center ">
                <img src="../../assets/photo/cio_6.png" class="img-thumbnail rounded-circle mx-auto d-block " alt="Dragon Ball">
            </div>
        </div>

        <div class="row">
            <div class="col align-self-center ">
                <img src="../../assets/photo/cio_7.jpeg" class="img-thumbnail rounded-circle mx-auto d-block "
                    alt="Dragon Ball">
            </div>
            <div class="col align-self-center text-white">
                <p>Pertama kali ke monas bareng sama Nenek dan Oom~</p>
            </div>
        </div>
        <div class="col align-self-center">
            <img src="../../assets/photo/cio_8.jpeg" class="img-thumbnail rounded-circle mx-auto d-block w-100" alt="Abercio">
        </div>
   

    </div>
    <!-- end of photo 1 -->
    <div class="row bg-blue2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#135eb4"
                d="M0,256L18.5,224C36.9,192,74,128,111,85.3C147.7,43,185,21,222,48C258.5,75,295,149,332,170.7C369.2,192,406,160,443,160C480,160,517,192,554,208C590.8,224,628,224,665,213.3C701.5,203,738,181,775,186.7C812.3,192,849,224,886,202.7C923.1,181,960,107,997,85.3C1033.8,64,1071,96,1108,96C1144.6,96,1182,64,1218,80C1255.4,96,1292,160,1329,160C1366.2,160,1403,96,1422,64L1440,32L1440,320L1421.5,320C1403.1,320,1366,320,1329,320C1292.3,320,1255,320,1218,320C1181.5,320,1145,320,1108,320C1070.8,320,1034,320,997,320C960,320,923,320,886,320C849.2,320,812,320,775,320C738.5,320,702,320,665,320C627.7,320,591,320,554,320C516.9,320,480,320,443,320C406.2,320,369,320,332,320C295.4,320,258,320,222,320C184.6,320,148,320,111,320C73.8,320,37,320,18,320L0,320Z">
            </path>
        </svg>
    </div>
    <!-- end of photo 2 -->
    <div class="box">
        <p class="mb-0 font-baby">Kalau om dan tante gak bisa dateng, kirimin aja angpau buat cio ke rekening di bawah ini : </p>
        <p class="mb-0 font-baby">Muhammad Ananda Pratama</p>
        <p class="mb-0">BCA : 8905208647</p>
        <p class="mb-0">Mandiri : 1240010750322</p>
        <p class="mb-0 font-baby">Terimakasih Om dan Tante</p>
    </div>
    <div class="row">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#135eb4" fill-opacity="1"
                d="M0,192L40,202.7C80,213,160,235,240,208C320,181,400,107,480,96C560,85,640,139,720,138.7C800,139,880,85,960,69.3C1040,53,1120,75,1200,106.7C1280,139,1360,181,1400,202.7L1440,224L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
            </path>
        </svg>
    </div>
    <div class="box">
        <p>
            <small> KakNanda | 2022</small>
        </p>
    </div>
    <audio autoplay><source src="../../assets/bgm/music1.ogg" type="audio/ogg">
    Your browser does not support the audio element.
</audio>
    <!-- <iframe src="../../assets/bgm/music1.ogg" allow="autoplay" id="audio" style="display: none"></iframe><audio id="player" autoplay loop><source src="../../assets/bgm/music1.ogg" type="audio/ogg"></audio> -->
    <!-- <iframe width="420" height="345" src="http://www.youtube.com/embed/oHg5SJYRHA0?autoplay=1" frameborder="0"
    allowfullscreen></iframe> -->
</div>