<div class=" bg-smoke w-100 pt-2">
<div class="container ">

    <div class="box">
        <img src="../../assets/img/photo.png" class="img-thumbnail rounded-circle" alt="Muhammad Ananda Pratama"
            style="height: 200px; width: 200px;">

    </div>
    <div class="box">

        <span class="f1 bold"><strong>Muhammad Ananda Pratama</strong> | blueboy.skyone@gmail.com</span>

        <br>
        <div class="btn-group btn-group-toggle m-0 p-0" data-toggle="buttons">

            <a class="p-1" href="https://www.linkedin.com/in/muhammad-ananda-pratama-914030118" target="_blank">
                <label class="btn btn-outline-light fa fa-linkedin-square">
                </label>
            </a>
            <a class="p-1" href="https://ceritabodohtakbermutu.blogspot.com" target="_blank">
                <label class="btn btn-outline-light fa fa-rss-square">
                </label>
            </a>
            <a class="p-1" href="https://www.youtube.com/channel/UC8AtxdxKpcLOwx8CeaIYMYg" target="_blank">
                <label class="btn btn-outline-light fa fa-youtube-play">
                </label>
            </a>
        </div>

    </div>

</div>

</div>