<div class="container" id="short-bio">
    <div class="row pt-2">
        <div class="col-sm-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/K2hz-WiUDbE"></iframe>
            </div>
        </div>
        <div class="col-sm-6">
            <p>Hi, My name is <strong>Muhammad Ananda Pratama</strong>.</p>
            <p>
                After earning my Diploma in Informatic Management
                from
                State Polytechnic of
                Lampung
                , I entered the Technology and Information world to explore my passion for <strong>Designing</strong>
                and
                <strong> Programming</strong>.
            </p>
            <p>
                In last 7 years i’ve build many <strong> monolithic</strong> and <strong>microservices</strong>
                architecture projects. Apart from a full time job,
                i am a
                <strong> freelancer</strong> who helping out with client jobs or <strong> teaching</strong> programming
                languages.

            </p>
            <p>Thank you for visiting my Personal page.</p>
            <p>Best Regards,
                <br>
                <strong>Muhammad Ananda Pratama</strong></p>
        </div>
    </div>

</div>