<div class="container" id="portofolios">
    <hr>
    <div class="box" (mouseover)="onMouseOver($event, gas)" #gas>
        <h1>Some of My Recent Work</h1>
    </div>
    <hr>

    <div class="geser m-0 p-0 bg-dark">
    </div>
    <div class="row">
    <div class="d-flex justify-content-around flex-wrap col-8">
        <div  *ngFor="let porto of listPorto; let i = index">
            <div class="p-2 geser">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"  src="{{porto.img}}"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{porto.title}}</h5>
                        <p class="card-text">{{porto.description}}</p>
                        <!-- <a href="https://ceritabodohtakbermutu.blogspot.com" target="_blank"
                            class="btn btn-dark btn-block">Go To Project</a> -->
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="col-4">
        <div class="p-2 geser">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/img/portofolios/rmtn ios.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">RMTN Mobile</h5>
                    <p class="card-text">Mobile iOs app for RMTN Application.</p>
                    
                </div>
            </div>
        </div>
    </div>
    </div>