<div class="container">
    <hr>
    <div class="box">
        <h1>Feel Free to Contact Me</h1>
        <a class="p-1" href="https://wa.link/uq27es" target="_blank">
            <!-- https://api.whatsapp.com/send?phone=6281290466167&text=Hi%20Ananda%2C%20i%20have%20some%20project%20that%20i%20need%20you%20to%20help%20with.%20%0ACould%20you%20help%20me%20%3F%20 -->
            <label class="btn btn-outline-dark fa fa-whatsapp">

            </label>
        </a>
        WhatsApp
    </div>

</div>