<div class="d-flex justify-content-center">
    <div class="boxs p-2">
        <!-- empty -->
    </div>
    <div class="boxs p-2">
        <img src="../../assets/img/angular-icon.svg" alt="Angular" style="height: 50px; width: 50px;">
    </div>
    <div class="boxs p-2">
        <img src="../../assets/img/spring logo.png" alt="Spring" style="height: 50px; width: 50px;">

    </div>
    <div class="boxs p-2">
        <img src="../../assets/img/swift.png" alt="Swift" style="height: 50px; ">
    </div>
    <div class="boxs p-2">
        <img src="../../assets/img/oracle-db.png" alt="Oracle DB" style="height: 50px; ">
    </div>
    <div class="boxs p-2">
        <img src="../../assets/img/php.png" alt="PHP" style="height: 50px; ">
    </div>
    <div class="boxs p-2">
        <img src="../../assets/img/netbeans new.png" alt="Netbeans" style="height: 50px; ">
    </div>
</div>