<div class="container" id="short-bio">

    <hr>
    <div class="box" (mouseover)="onMouseOver($event, toto)" #toto>
        <h1>What can I do For You ? </h1>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4 ">

                    <div class="card border-0 pt-3">
                        <!-- <img class="card-img-top" style="height: 10rem;" src="../../assets/img/portofolios/blog.png"
                                                    alt="Card image cap"> -->
                        <i class="card-img-top fa fa-database" aria-hidden="true" style="font-size: 150px;text-align: center;"></i>
                        <div class="card-body text-justify" style="height: 350px;">
                            <h4 class="card-title">Manage and Migrate your Data</h4>
                            <p class="card-text">Do you have an old Application with a ton of data ? Is it make your
                                Application <strong>laggy </strong> ?
                            </p>
                            <p>Do you want to migrate
                                it to your new database for housekeeping ? It's a secret, but it will make your application
                                load faster than before.
                            </p>
                            <p>
                                It's start from $75, do you want me to do it for you ?
                            </p>
                
                        </div>
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-0 pt-3">
                <!-- <img class="card-img-top" style="height: 10rem;" src="../../assets/img/portofolios/blog.png"
                                    alt="Card image cap"> -->
                <i class="card-img-top fa fa-id-badge" aria-hidden="true" style="font-size: 150px;text-align: center;"></i>
                <div class="card-body text-justify" style="height: 350px;">
                    <h4 class="card-title">Build You a Stunning Website</h4>
                    <p class="card-text">I will create a website for your Personal, Business, Company, Product or
                        everything you want me to do with a reasonable Price.
                    </p>
                    <p>The default website will integrate with your WhatsApp. So you can do your business world
                        wide.
                    </p>
                    <p>It's start from $50, what are you waiting for ?</p>
            
                </div>
            </div>
        </div>
        <div class="col-sm-4">
                <div class="card border-0 pt-3">
                    <!-- <img class="card-img-top" style="height: 10rem;" src="../../assets/img/portofolios/blog.png"
                                                alt="Card image cap"> -->
                    <i class="card-img-top fa fa-code" aria-hidden="true"
                        style="font-size: 150px;text-align: center;"></i>
                    <div class="card-body text-justify" style="height: 350px;">
                        <h4 class="card-title">Teach you a Programming Language</h4>
                        <p class="card-text">Are you new to the World of Code ? or you have a dream to become a
                            Programmer ?
                        </p>
                        <p>
                            You can go to my Blog, U-Demy Course, My Free Basic Course, or My Youtube Channel.
                        </p>
                        <p>
                            And if you are lucky, you will find me on Superprof and you can hire me to be your personal
                            programming trainer.
                        </p>

                    </div>
            </div>
        </div>
    </div>

</div>