<div class="container">
    <hr>
    <div class="box" (mouseover)="onMouseOver($event, toto)" #toto>
        <h1>Some of My Experience Working History</h1>
    </div>
    <div class="card boxss m-2 p-2">
        <!-- empty -->

    </div>
    <div class="card boxss m-2 p-2">
        <div class=" card-horizontal">
            <div class=" img-square-wrapper col-sm-3 box" style="height: 150px; width: 200px;">
                <img src="../../assets/img/mandiri.png" style="height: 150px; width: auto;margin: 0;"
                    alt="Card image cap">
            </div>
            <div class="card-body pt-0 pb-0 col-sm-9">
                <h4 class="card-title ">Senior Java Developer & iOs/Swift Developer</h4>
                <span><strong>PT Bank Mandiri (Persero) Tbk. (Contract)</strong></span>
                <br>
                <span><strong> Dates Employed</strong> Apr 2020 – Present | <strong> Jakarta</strong>,
                    Indonesia</span>
                <p class="card-text ">
                    <small>
                        In my current role, i was charge as Senior Java Developer in APD/SRD department to build an
                        API
                        and
                        controlling and
                        managing database for development with Liquibase. Then from September 2020 my role has
                        change to
                        Swift
                        Developer to
                        build an iOs application on Apple Mobile.
                    </small>
                </p>
            </div>
        </div>
    </div>
    <!-- end of mandiri  -->

    <div class="card boxss m-2 p-2">
        <div class=" card-horizontal">
            <div class=" img-square-wrapper col-sm-3 box" style="height: 150px; width: 200px; ">
                <img src="../../assets/img/enigma-square.png" style="height: 150px; width: auto;" alt="Card image cap">
            </div>
            <div class="card-body pt-0 pb-0 col-sm-9">
                <h4 class="card-title ">Information Technology Trainer</h4>
                <span><strong>PT Enigma Cipta Humanika (Full-time)</strong></span>
                <br>
                <span><strong> Dates Employed</strong> Aug 2019 – Apr 2020 | <strong> Jakarta</strong>,
                    Indonesia</span>
                <p class="card-text ">
                    <small>
                        Co - Trainer at Enigma Camp, specialized for Java Basic and Spring-Boot class.
                    </small>
                </p>
            </div>
        </div>
    </div>

    <!-- end of enigma  -->

    <div class="card boxss m-2 p-2">
        <div class=" card-horizontal">
            <div class=" img-square-wrapper col-sm-3 box" style="height: 150px; width: 200px; ">
                <img src="../../assets/img/btpn-logo.png" style="height: 150px; width: auto;" alt="Card image cap">
            </div>
            <div class="card-body pt-0 pb-0 col-sm-9">
                <h4 class="card-title ">Back End Developer</h4>
                <span><strong>PT Bank BTPN Tbk (Contract)</strong></span>
                <br>
                <span><strong> Dates Employed</strong> Apr 2018 – Sep 2019 | <strong> Jakarta</strong>,
                    Indonesia</span>
                <p class="card-text ">
                    <small>
                        Back End Developer at Commandos Squad, using Spring-Boot, MySQL and CICD to develop web
                        application, in the last few month i also involved
                        in
                        data migration from old application with Talend app.
                    </small>
                </p>
            </div>
        </div>
    </div>

    <!-- end of btpn -->

    <div class="card boxss m-2 p-2">
        <div class=" card-horizontal">
            <div class=" img-square-wrapper col-sm-3 box" style="height: 150px; width: 200px; ">
                <img src="../../assets/img/sti.jpeg" style="height: 150px; width: auto;" alt="Card image cap">
            </div>
            <div class="card-body pt-0 pb-0 col-sm-9">
                <h4 class="card-title ">Full Stack Developer</h4>
                <span><strong>PT Square Techno Indonesia</strong></span>
                <br>
                <span><strong> Dates Employed</strong> Nov 2017 – Oct 2019 | <strong> Jakarta</strong>,
                    Indonesia</span>
                <p class="card-text ">
                    <small>
                        As a squad, we Develop a web application for custody user and some user (client).
                        For the first 4 month i was Front End engineer with Angular, and Back End engineer
                        using spring-boot for the rest.
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div class="card boxss m-2 p-2">
        <div class=" card-horizontal">
            <div class=" img-square-wrapper col-sm-3 box" style="height: 150px; width: 200px; ">
                <img src="../../assets/img/sti.jpeg" style="height: 150px; width: auto;" alt="Card image cap">
            </div>
            <div class="card-body pt-0 pb-0 col-sm-9">
                <h4 class="card-title ">Project Implementation</h4>
                <span><strong>PT Square Techno Indonesia</strong></span>
                <br>
                <span><strong> Dates Employed</strong> Oct 2017 – Feb 2018 | <strong> Jakarta</strong>,
                    Indonesia</span>
                <p class="card-text ">
                    <small>
                        Implement Project for some clients
                    </small>
                </p>
            </div>
        </div>
    </div>

    <!-- end of sti  -->

    <div class="card boxss m-2 p-2">
        <div class=" card-horizontal">
            <div class=" img-square-wrapper col-sm-3 box" style="height: 150px; width: 200px; ">
                <img src="../../assets/img/freelancer-logo.png" style="height: 150px; width: auto;"
                    alt="Card image cap">
            </div>
            <div class="card-body pt-0 pb-0 col-sm-9">
                <h4 class="card-title ">Freelancer</h4>
                <span><strong>Everyone that needs me</strong></span>
                <br>
                <span><strong> 2011 – present</strong> | <strong> Jakarta / Lampung</strong>,
                    Indonesia</span>
                <p class="card-text ">
                    <small>
                        I can help you to build your website, design your products, or maybe i will teach you some
                        programming language.
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>