
body{
background-color: whitesmoke;
font-family: 'PT Sans', sans-serif;
}

h1 {
font-weight: 900;
}
.f1 {
font-family: 'PT Sans', sans-serif;
}

.a1 {
font-weight: 900;
font-size: 60px;
}

.checked{
    color: orange;
}

#container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 300px;
}

.box {
    width: auto;
    margin: 5px;
    text-align: center;     /* will center text in <p>, which is not a flex item */
}

a {
    color: black;
}

.bg-smoke{
background-image: url('./assets/img/bg-smokde-dark.jpg');
color: whitesmoke;
}

.bg-black{
    background-color: black;
}