<div class="container rounded" id="videos">
    <hr>
    <div id="carouselExampleIndicators" class="carousel slide center-block" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NTXlLwrKjvE"></iframe>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Angular 12 - Tutorial Create New Project Angular Indonesia ep1</h5>
                </div>
            </div>


            <div class="carousel-item ">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/h5KjB7raDf0"></iframe>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Tutorial Membuat RestFULL API CRUD menggunakan Spring Boot Java MySQL Ep 1</h5>
                </div>
            </div>


            <div class="carousel-item ">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-Y6ZwSt8W4k"></iframe>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Tutorial Common Response API Spring Boot Java MySQL Ep 6 CommonResponse</h5>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


</div>